body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

header{
    background-color: #1f2937;
    color: white;
}

.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

nav ul li{
    padding: 2px 20px ;
    size: 20px;
}

div.topbar h1{
    padding: 0px 20px;
}

#bluelogo{
    width: 300px;
    height: auto;
    padding: 10px 20px;
}

div.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.in-intro{
    padding: 20px;
}

.productscardimg{
    width: 200px;
    height: auto;
}

#products{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.prodflex{
    display: flex;
    justify-content: space-around;
}

div.prodflex div{
    padding: 20px;
}

div.prodcard{
    display: flex;
    flex-direction: column;
    align-items: center;
}